
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    background-image: url('nathan-dumlao-5Hl5reICevY-unsplash.jpg') ;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.countdown-container {
    text-align: center;
    background: mediumaquamarine;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.timer-set {
    margin-bottom: 20px;
}

.timer-display span {
    font-size: 2em;
    color: #333;
}
